# Development/Envirnoment
composer
.env
/public/build/
/public/hot
/public/storage
/public/basket
/storage/
/bootstrap/cache/*
database/*.sqlite
database/*.csv
database/*.zip
.phpstorm.meta.php
_ide_helper.php
package/

# Modules & Libraries
/vendor/
/node_modules/
