includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    level: 2
    paths:
        - app
        - package/imet-core/config
        - package/imet-core/database
        - package/imet-core/src

    # Ignore errors in custom blade views: for some reason, PHPStan is not able to detect @var PHPDoc tags
    ignoreErrors:
        -
            identifiers:
                - variable.undefined
                - varTag.differentVariable
            paths:
                - package/imet-core/src/resources/views/v2/evaluation/show/modules/*
                - package/imet-core/src/resources/views/v2/evaluation/show/fields/*
                - package/imet-core/src/resources/views/v2/evaluation/edit/modules/*
                - package/imet-core/src/resources/views/v2/evaluation/edit/fields/*
                - package/imet-core/src/resources/views/v2/context/show/modules/*
                - package/imet-core/src/resources/views/v2/context/show/fields/*
                - package/imet-core/src/resources/views/v2/context/edit/modules/*
                - package/imet-core/src/resources/views/v2/context/edit/fields/*
